In [2]:
import pandas as pd 
ds = pd.read_json('smartphone_valid8.json')
#ds = pd.read_csv('C:/Users/deepa/Desktop/bignn/headphones.csv')

In [4]:
ds.drop(['Unnamed: 0'], axis=1, inplace = True)
#ds.drop([3141,10235,14360,15021,17469,19203], axis = 0, inplace= True)
ds.reset_index(drop=True, inplace=True)

In [6]:
ds.head(2)

,name,product_url,rating,reviews,price,product_type
0,"Betron DC950HI Earbuds, Noise Isolating in Ear...",https://www.amazon.com/gp/slredirect/picassoRe...,4.2 out of 5 stars,"4,093",$12.99,Headphones
1,"Bluetooth Headphones,Tuinyo Wireless Headphone...",https://www.amazon.com/gp/slredirect/picassoRe...,4.3 out of 5 stars,646,$23.99,Headphones

In [53]:
ds.rename(columns={'url':'product_url', 'title': 'name'},inplace= True)
#ds.drop(labels='review_count', axis = 1, inplace = True)

In [7]:
ds.shape[0]

7093

In [8]:
asn = []
for i in range(ds.shape[0]):
    if 'dp%' in ds['product_url']:
        df = ds['product_url'][i]
        ef = df.split('dp%', 1)[1]
        of = ef.split('ref',1)[0]
        asn.append(of)
    else:
        df = ds['product_url'][i]
        ef = df.split('dp', 1)[1]
        of = ef.split('ref',1)[0]
        asn.append(of)

In [59]:
# These codes for headphones only!!
kl = []
for i in  ds['product_url']:
    if 'dp%' in i:
        ef = i.split('dp%',1)[1]
        of = ef.split('%',1)[0]
        kl.append(of)
    else:
        ef = i.split('dp/',1)[1]
        of = ef.split('/',1)[0]
        kl.append(of)


for i in kl:
    if '2F' in i:
         kl[kl.index(i)] = i.split('2F',1)[1]
    else:
        continue 

ds['asin'] = kl

In [10]:
df = '%2FB087LYQ22N%2F'
df[df.find('B'):13]

'B087LYQ22N'

In [11]:
kgf = []
for i in asn:
    df = i
    if 'B' in i:
        if df.find('B')==3:
            kgf.append((i[df.find('B'):13]))
        else:
            kgf.append((i[df.find('B'):11]))
    else:
        kgf.append('nf')

In [59]:
asin = kgf
ds['asin'] = asin

In [60]:
ds

,name,product_url,rating,review_count,price,asin
0,"TCL 10L, Unlocked Android Smartphone with 6.53...",https://www.amazon.com/gp/slredirect/picassoRe...,4.4 out of 5 stars,688,$249.99,B087LYQ22N
1,"Samsung Galaxy A01 (A015M) 16GB, Dual SIM, GSM...",https://www.amazon.com/Samsung-SM-A015M-Displa...,4.3 out of 5 stars,799,$113.99,B084V9FKK6
2,"Samsung Galaxy A20s A207M/DS, 32GB/3GB RAM Dua...",https://www.amazon.com/Samsung-A207M-Snapdrago...,4.3 out of 5 stars,"7,704",$189.99,B07ZDH95L4
3,Moto E | Unlocked | Made for US by Motorola | ...,https://www.amazon.com/Moto-Unlocked-Motorola-...,4.4 out of 5 stars,433,$119.99,B086H3HH5V
4,"Xiaomi Redmi Note 8 Pro 64GB, 6GB RAM 6.53"" LT...",https://www.amazon.com/Xiaomi-Redmi-Factory-Un...,4.6 out of 5 stars,"17,624",$204.49,B07Y8Y6HVW
...,...,...,...,...,...,...
6958,Professional Lavalier Lapel Recording Micropho...,https://www.amazon.com/Professional-Microphone...,4.0 out of 5 stars,207,$7.99,B01H3JKG7M
6959,45W USB-C Type C AC Charger for Asus Chromeboo...,https://www.amazon.com/Charger-Chromebook-C302...,4.6 out of 5 stars,3,$19.99,B089M9LP5D
6960,MOMOSTICK_MULTI BAND: Phone Grip/Stand/Holder ...,https://www.amazon.com/MOMOSTICK_MULTI-BAND-Ac...,5.0 out of 5 stars,1,$12.99,B083P21NYX
6961,Nokia 8.3 5G Android Unlocked Smartphone with ...,https://www.amazon.com/gp/slredirect/picassoRe...,4.1 out of 5 stars,12,$699.99,B08JQRBWXH
6962,"Rugged Smartphone Unlocked, Ulefone Armor 8 4G...",https://www.amazon.com/gp/slredirect/picassoRe...,None,None,$229.99,B08JL7T31Z

In [74]:
ds.to_csv('headphones_new.csv')